:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}
/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
}
/* 首页文章卡片 */
.recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}
/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}
/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}
/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}
/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}
/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}
/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}
/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
/* 导航栏字体大小 */
#nav .menus_item, #nav .site-name, #nav #search-button{
    font-size: 24px;
}
/*社交图标大小*/
svg.social_icon {
    width: 1.28em;
    height: 1.28em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/*菜单栏图标大小*/
svg.menu_icon {
    width: 1.28em;
    height: 1.28em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/*鼠标悬停在搜索按钮上时的指针样式设置为pointer*/
#search-button:hover {
    cursor: pointer;
}
#nightmode-button:hover{
    cursor: pointer;
}

/* 标题增强 */
.site-name::before {
    opacity: 0;
    background-color: #b2aec6 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    height: 100%;
    content: "\f015";
    box-shadow: 0 0 5px #b2aec6;
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color: white;
    line-height: 28px; /*如果有溢出或者垂直不居中的现象微调一下这个参数*/
    font-size: 18px; /*根据个人喜好*/
}
.site-name:hover::before {
    opacity: 1;
    scale: 1.03;
}
.site-name {
    position: relative;
    font-size: 24px; /*一定要把字体调大点，否则效果惨不忍睹！*/
}
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/* 导航栏显示标题 */
#page-name::before {
    font-size: 18px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: white !important;
    top: 0;
    left: 0;
    content: "回到顶部";
    background-color: #b2aec6;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    opacity: 0;
    box-shadow: 0 0 3px #b2aec6;
    line-height: 50px; /*如果垂直位置不居中可以微调此值，也可以删了*/
}
#page-name:hover:before {
    opacity: 1;
}
#name-container {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#name-container:hover {
    scale: 1.03;
}
#page-name {
    position: relative;
    padding: 10px 30px; /*如果文字间隔不合理可以微调修改，第二个是水平方向的padding，第一个是垂直的*/
}
#nav{
    padding: 0 20px;
}
/* 修复滚动显示标题居中 */
center#name-container {
    /*position: absolute !important;*/
    /*width: fit-content !important;*/
    /*left: 42% !important;*/
    position: absolute;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
    center#name-container {
        display: none;
    }
}
/*信息卡片头像状态*/
.card-info-avatar .author-status-box {
    position: absolute;
    bottom: 0;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    background-color: #f8f8f8f8;
    transition: 0.4s;
    overflow: hidden;
}
[data-theme="dark"] .card-info-avatar .author-status-box {
    background-color: #222222f2;
    border: 1px solid #5c6060;
}
.card-info-avatar .author-status-box .author-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 0 5px;
}
.card-info-avatar .author-status-box:hover {
    width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
    width: 105px;
    margin-left: 4px;
}
.card-info-avatar .author-status-box .author-status span {
    width: 0;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.4s;
}
.card-widget .card-info-avatar {
    display: inline-block;
    position: relative;
}
/*字体修改*/
@font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'LXGW';
    /* 字体文件地址(相对或者绝对路径都可以) */
    /*noinspection CssUnknownTarget*/
    src: url(/font/LXGWWenKaiMonoLite-Regular.woff2);
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
}
/* twikoo评论美化 */
/* 自定义twikoo评论输入框高度 */
#twikoo .el-textarea textarea {
    min-height: 120px !important;
    background-size: 90px;
}

/* 自定义表情优化 */
#twikoo .OwO-body {
    max-width: 100% !important;
}
/* 选择某个框 #twikoo .OwO .OwO-body .OwO-items:nth-child(1) */
#twikoo .OwO .OwO-body .OwO-items {
    max-height: 250px !important;
}

.OwO .OwO-body .OwO-items-image .OwO-item {
    max-width: calc(9% - 10px);
    box-sizing: content-box;
}
.OwO .OwO-body .OwO-items-image .OwO-item[title|="Heybox"],
.OwO .OwO-body .OwO-items-image .OwO-item[title|="Tieba"],
.OwO .OwO-body .OwO-items-show .OwO-item[title*="bilibili"] {
    max-width: calc(7% - 10px) !important;
    box-sizing: content-box;
}

#twikoo .OwO-items li img {
    width: 100% !important;
}

.tk-comment .vemoji[alt|="Menhera"],
.tk-comment .tk-owo-emotion[alt*="Menhera"],
.tk-comment .vemoji[alt|="Snow"],
.tk-comment .tk-owo-emotion[alt*="Snow"],
.tk-comment .vemoji[alt|="Sweetie"],
.tk-comment .tk-owo-emotion[alt*="Sweetie"],
.tk-comment .vemoji[alt|="Tsuri"],
.tk-comment .tk-owo-emotion[alt*="Tsuri"],
.tk-comment .vemoji[alt|="Yurui"],
.tk-comment .tk-owo-emotion[alt*="Yurui"] {
    max-width: 120px !important;
    max-height: 120px !important;
    width: 120px;
    margin: 8px 1px;
    display: block !important;
}

/* 手机端适配 */
@media screen and (max-width: 768px) {
    .tk-comment .vemoji[alt|="Menhera"],
    .tk-comment .tk-owo-emotion[alt*="Menhera"],
    .tk-comment .vemoji[alt|="Snow"],
    .tk-comment .tk-owo-emotion[alt*="Snow"],
    .tk-comment .vemoji[alt|="Sweetie"],
    .tk-comment .tk-owo-emotion[alt*="Sweetie"],
    .tk-comment .vemoji[alt|="Tsuri"],
    .tk-comment .tk-owo-emotion[alt*="Tsuri"],
    .tk-comment .vemoji[alt|="Yurui"],
    .tk-comment .tk-owo-emotion[alt*="Yurui"] {
        max-width: calc(100% - 30px) !important;
        max-height: calc(100% - 30px) !important;
    }
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Menhera"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Snow"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Sweetie"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tsuri"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Yurui"] {
        max-width: calc(33% - 10px);
        box-sizing: border-box;
    }
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Heybox"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="bilibili"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tieba"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="QQ"] {
        max-width: calc(18% - 10px) !important;
        box-sizing: content-box;
    }
}

/* 右下角闭眼 */
.el-textarea__inner {
    background-image: url(https://tuchuang.voooe.cn/images/2023/01/02/open.webp) !important;
}
.el-textarea__inner:focus {
    background-image: url(https://tuchuang.voooe.cn/images/2023/01/02/close.webp) !important;
}
/* 全局宽度 */
.layout {
    max-width: 1400px;
}

/* 侧边卡片栏宽度 */
.aside-content {
    max-width: 318px;
    min-width: 300px;
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
    .aside-content {
        max-width: none !important;
        padding: 0 5px 0 5px;
    }
}
/* 除了首页以外其他页面隐藏卡片，并采用宽屏显示 */
#archive,
#page,
#category,
#tag {
    width: 100%;
}
.page:not(.page.home) .aside-content {
    display: none;
}

.container a:hover {
    background-color: #b2aec6; /* 设置背景颜色 */
    border-radius: 5px; /* 圆角 */
    padding: 2px 4px; /* 内边距 */
    transition: all 0.3s ease; /* 平滑过渡 */
    color: #f6f8fa; /* 文字颜色 */
    text-decoration: none; /* 去掉下划线 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 可选，阴影效果 */
}
.post-content a:hover {
    background-color: #b2aec6; /* 设置背景颜色 */
    border-radius: 5px; /* 圆角 */
    padding: 2px 4px; /* 内边距 */
    transition: all 0.3s ease; /* 平滑过渡 */
    color: #f6f8fa; /* 文字颜色 */
    text-decoration: none; /* 去掉下划线 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 可选，阴影效果 */
}
/* 默认目录链接样式 */
.toc a {
    display: inline-block; /* 使链接为块状元素 */
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease; /* 平滑动画效果 */
}

/* 悬停时的放大效果 */
.toc a:hover:not(.active) {
    transform: scale(1.05); /* 放大 5% */
    background-color: rgba(178, 174, 198, 0.1); /* 背景色变化 */
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}
.toc a:hover:not(.active) .toc-text,
.toc a:hover:not(.active) .toc-number {
    color: #b2aec6; /* 修改编号和正文文字颜色 */
}
.toc-link.active {
    background-color: transparent; /* 不需要背景色 */
    color: inherit; /* 保持默认文字颜色 */
    box-shadow: none; /* 无阴影 */
    transform: none; /* 无放大效果 */
}
.loading-img {
    background: url(/avatar.jpg) no-repeat center center;
    background-size: cover;
}