@media (prefers-color-scheme: light) {
  .header {
    background-image: url('/img/default.png');
  }
}
@media (prefers-color-scheme: dark) {
  .header {
    background-image: url('/img/darkmode.png');
  }
}